<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- Nordic's DfuBaseService subclass. The library dispatches the whole
             flash through this service, so it must be declared or the upload
             dies immediately with "Unable to start service". -->
        <service android:name=".DfuService" android:exported="false" />
    </application>

</manifest>
